<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeImage" version="3.17.0" targetFramework="native" />
  <package id="FreeImage.redist" version="3.17.0" targetFramework="native" />
  <package id="glfw" version="3.2.1.5" targetFramework="Native" />
  <package id="glm" version="0.9.8.5" targetFramework="native" />
</packages>